<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Thandanani</title>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="custom-font/fonts.css" />
        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- Bootsnav -->
        <link rel="stylesheet" href="css/bootsnav.css">
        <!-- Fancybox -->
        <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css?v=2.1.5" media="screen" />	
        <!-- Custom stylesheet -->
        <link rel="stylesheet" href="css/custom.css" />
		<link href="images/ThandananiLogo3.png" rel="icon">
		<link href="images/ThandananiLogo3.png" rel="thandanani-icon">
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- Preloader -->

        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                </div>
            </div>
        </div>

        <!--End off Preloader -->

        <!-- Header -->
        <header>
            <!-- Top Navbar -->
            <div class="top_nav">
                <div class="container">
                    <ul class="list-inline info">
                        <li><a href="#"><span class="fa fa-phone"></span> 011 833 5685</a></li>
                        <li><a href="#"><span class="fa fa-envelope"></span> info@thandananir.org.za</a></li>
                        <li><a href="#"><span class="fa fa-clock-o"></span> Mon - Fri 8:00 - 17:00</a></li>
                    </ul>
                    <ul class="list-inline social_icon">
						<li><a href="https://www.facebook.com/Thandanani-NPO-919169921611627/"><span class="fa fa-facebook"></span></a></li>
						<li><a href="https://twitter.com/NpoThandanani"><span class="fa fa-twitter"></span></a></li>
						<li><a href="https://youtu.be/xOE0_wUA9js"><span class="fa fa-youtube"></span></a></li>
                    </ul>					
                </div>
            </div><!-- Top Navbar end -->

            <!-- Navbar -->
            <nav class="navbar bootsnav">

                <div class="container">

                    <!-- Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href=""><img class="logo" src="images/ThandananiLogo3.png" alt="thandanani-icon"></a>
                    </div>
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav menu">
                            <li><a href="https://www.thandananir.org.za/Index.html">Home</a></li>                    
                            <li><a href="https://www.thandananir.org.za/About_Us.html">About Us</a></li>
                            <li><a href="https://www.thandananir.org.za/Portfolio.html">Portfolio</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>   
            </nav><!-- Navbar end -->
        </header><!-- Header end -->
        
        <!-- Contact form -->
        <section id="contact_form">
            <div class="container">
			<div class="alert alert-success" role="alert">{{{body}}}</div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Do you have any questions or want to make donation?</h2>
                        <h2 class="second_heading">Feel free to contact us!</h2>
                    </div>
                    <form action='/' method="POST" >
                        <div class="form-inline text-right col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" placeholder="Name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="5" id="msg" placeholder="Message"></textarea>
							</div>
							<button type="submit" class="btn submit_btn">Submit</button>
						</div>
                    </form>				
                </div>
            </div>
        </section><!-- Contact form end -->

        <!-- Footer -->
        <footer>
            <!-- Footer top -->
            <div class="container footer_top">
                <div class="row">
                    <div class="col-lg-4 col-sm-7">
                        <div class="footer_item">
                            <h4>About Company</h4>
                            <div style="color:#ffcb0f">Thandanani</div>
                            <p> Established in 2007 and registered under section 13 Reg no. NPO-054-145 as a Non Profit Organisation Reg no. PBO-930023778 </p>

                            <ul class="list-inline footer_social_icon">
                                <li><a href="https://www.facebook.com/Thandanani-NPO-919169921611627/"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="https://twitter.com/NpoThandanani"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="https://youtu.be/xOE0_wUA9js"><span class="fa fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-5">
                        <div class="footer_item">
                            <h4>Explore link</h4>
                            <ul class="list-unstyled footer_menu">
                                <li><a href=""><span class="fa fa-play"></span> About us</a>
                                <li><a href=""><span class="fa fa-play"></span> Meet our team</a>
                                <li><a href=""><span class="fa fa-play"></span> Portfolio</a>
                                <li><a href=""><span class="fa fa-play"></span> Privacy Policy</a>
                                <li><a href=""><span class="fa fa-play"></span> Site map</a>
                            </ul>
                        </div>
                    </div>
 
                    <div class="col-lg-6 col-sm-6">
                        <div class="footer_item">
                            <h4>Contact us</h4>
                            <ul class="list-unstyled footer_contact">
                                <li><a href=""><span class="fa fa-map-marker"></span><p>No 86 Focus House Building <br /> Cnr Plein & Loveday Street <br /> Johannesburg<br /> Gauteng<br />2000</p></a></li>
                                <li><a href=""><span class="fa fa-envelope"></span> info@thandananir.org.za </a></li>
                                <li><a href=""><span class="fa fa-mobile"></span><p> Andries Mokwatlo <br />011 833 5685</p></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- Footer top end -->

            <!-- Footer bottom -->
            <div class="footer_bottom text-center">
               	<p class="w3-text-black">&#169; Copyright 2023 Thandanani. All rights reserved</p>
				<p>Powered by <a href="https://totalsoftwarestechnologies.azurewebsites.net/" title="W3.CSS" target="_blank" class="w3-hover-text-green">sifisoprojects</a></p>
            </div><!-- Footer bottom end -->
        </footer><!-- Footer end -->

        <!-- JavaScript -->
        <script src="js/jquery-1.12.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <!-- Bootsnav js -->
        <script src="js/bootsnav.js"></script>

        <!-- JS Implementing Plugins -->
        <script src="js/isotope.js"></script>
        <script src="js/isotope-active.js"></script>
        <script src="js/jquery.fancybox.js?v=2.1.5"></script>

        <script src="js/jquery.scrollUp.min.js"></script>

        <script src="js/main.js"></script>
    </body>	
</html>	